.Testimonial {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    height: max-content;
    padding-top: 50px;
}

.Testimonial .TestimonialBox1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.Testimonial .TestimonialBox1 h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
}

.Testimonial .TestimonialBox1 p {
    width: 55vw;
}

.Testimonial .TestimonialBox2 {
    display: flex;
    flex-direction: row;
    width: 88vw;
    padding: 40px 50px;
    justify-content: space-around;

}

.Testimonial .TestimonialBox2 .TestimonialCard {
    background-color: #FFFF;
    width: 35vw;
    padding: 40px 50px;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.16);

}

.Testimonial .TestimonialBox2 p {
    text-align: start;
    font-size: 1.4rem;
    color: #000;
    font-weight: 400;
    margin-top: 10px;
}



@media (max-width: 780px) {

    .Testimonial {
        height: max-content;
    }

    .Testimonial .TestimonialBox1 {
        margin-bottom: 20px;
    }

    .Testimonial .TestimonialBox1 h1 {
        font-size: 2.5rem;
        width: 80vw;
        font-weight: 900;
    }

    .Testimonial .TestimonialBox1 p {
        font-size: 1rem;
        font-weight: 400;
        width: 85vw;
        text-align: center;
    }

    .Testimonial .TestimonialBox2 {
        flex-direction: column;
        width: 88vw;
        /* border: 2px solid red; */
    }

    .Testimonial .TestimonialBox2 {
        flex-direction: column;
        width: 88vw;
        justify-content: center;
        align-items: center;
    }

    .Testimonial .TestimonialBox2 .TestimonialCard {
        width: 80vw;
        padding: 20px 15px;
        /* border: 2px solid red; */
        margin-bottom: 40px;
        border-radius: 4px;
    }

    .Testimonial .TestimonialBox2 p {
        font-size: 1.25rem;
    }

    .Testimonial .TestimonialBox2 .TestimonialCard .personName h1 {
        font-size: 1.5rem;
    }
}